
nav{
    background-color:rgba(0,0,0,.8);
    backdrop-filter: blur(1vmin);
    -webkit-backdrop-filter: blur(1vmin);
    position:fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    height: 3em;
    transition: height .5s ease-in-out;
}




nav .container img, nav .container [right]{
    height: 2em;
}


nav .container {
    display: grid;
    padding: .5em 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: min-content calc(100vh - 2em);
    align-items: center;
    overflow:hidden;
    height: 100%;
    
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    max-width: var(--maxWidth);
    margin:0 auto;
}

nav[active]{
    height:100vh;
}

nav .container [right]{
    grid-column-start: 3;
    height:1.6em;
    justify-self: end;
    position:relative;
    width:2em;
}

nav .container [right] img{
    height:100%;
    width:100%;
    position:absolute;
}

nav .container [right] img:nth-child(2){
    display:none;
}

nav[active] [right] img:nth-child(2){
    display:block;
}

nav[active] [right] img:nth-child(1){
    display:none;
}

nav .container > img{
    grid-column-end: span 1;
}

nav .container [areas]{
    grid-column: 2 / span 1;
    display: grid;
    color:white;
    list-style: none;
    grid-gap: calc(var(--sidePadding) * 1);
    text-align: center;
    padding:0;
    align-self: start;
    margin-top:var(--verticalPadding);

}

nav .container [areas] li{
    text-align: center;
    font-weight: 100;
}

nav .container [areas] img{
    display:block;
    margin: 0 auto;
    margin-bottom: calc(var(--sidePadding) / 2);
    height: 2em;
}



footer .container{
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 0 var(--sidePadding);
    box-sizing: border-box;
}

footer{
    min-height: 10em;
    background-color: black;
    border-top: .3em solid var(--colorLightBlue);
    color: white;
    padding: var(--verticalPadding);
}

footer img{
    height: 4em;
    max-width:10em;
}

footer img[menor]{
    max-height: 3em;
}

footer #links{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: calc(var(--sidePadding) * 2);
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-bottom: var(--verticalPadding);
}
footer #links div, footer #links a{
    font-size: var(--textSizeSource);
    font-weight:100;
    text-align: center;
}

a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

a:link, a:visited , a:hover , a:active{
    color: inherit;
}


footer p{
    font-size: var(--textSizeSource);
    font-weight:100;
    line-height: 1.5em;
    text-align: center;
}

#videoContainer{
    width: 100vw;
    position: fixed;
    height: 100vh;
    display: none;
    align-content: center;
    background-color:rgba(0,0,0,.8);
    -webkit-backdrop-filter: blur(1vmin);
    backdrop-filter: blur(1vmin);
    z-index:1;
}

#videoContainer[active]{
    display: grid;
}

#videoContainer iframe{
    width:100%;
    z-index: 2;
}

#videoContainer #bg{
    position:absolute;
    width:100%;
    height:100%;
}

section{
    margin:0 auto;
    box-sizing:border-box;
    
}

#page-holder{
    max-width: var(--maxWidth);
    margin:0 auto;
}

@media (min-width: 768px) {
    nav *, nav{
        font-size: 10pt;
    }


    nav .container {
        grid-template-columns: auto 1fr;
        box-sizing: border-box;
        padding: .5em var(--sidePadding)
    }

    nav .container [areas]{
        grid-row: 1;
        grid-column: 3;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 2em;
        align-self: center;
        font-size: var(--textSizeBody);
    }

    nav .container [areas] li a img{

        height:1em;
        width:auto;
        margin:0;
        transform: translate3d(0,.18em,0)
    }

    nav .container [areas] li a{
        display: grid;
        grid-gap: .5em;
        grid-template-columns: auto auto;
        white-space: nowrap;
        align-items: baseline;
    }

    nav [right]{
        display: none;
        padding-left: var(--sidePadding);
        padding-right: var(--sidePadding);
    }


    #videoContainer iframe{
        width:100vmin;
        height:calc(100vmin / 16 * 9);
        position: absolute;
        top:50%;
        left:50%;
        transform: translate3d(-50%, -50%, 0);
    }

    
    
}