@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamBook/GothamBook.eot);
    src: url(../fonts/GothamBook/GothamBook.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamBook/GothamBook.woff) format("woff"), url(../fonts/GothamBook/GothamBook.ttf) format("truetype"), url(../fonts/GothamBook/GothamBook.svg#GothamBook) format("svg");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamMedium/GothamMedium.eot);
    src: url(../fonts/GothamMedium/GothamMedium.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamMedium/GothamMedium.woff) format("woff"), url(../fonts/GothamMedium/GothamMedium.ttf) format("truetype"), url(../fonts/GothamMedium/GothamMedium.svg#GothamMedium) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamBold/GothamBold.eot);
    src: url(../fonts/GothamBold/GothamBold.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamBold/GothamBold.woff) format("woff"), url(../fonts/GothamBold/GothamBold.ttf) format("truetype"), url(../fonts/GothamBold/GothamBold.svg#GothamBold) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamUltra/GothamUltra.eot);
    src: url(../fonts/GothamUltra/GothamUltra.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamUltra/GothamUltra.woff) format("woff"), url(../fonts/GothamUltra/GothamUltra.ttf) format("truetype"), url(../fonts/GothamUltra/GothamUltra.svg#GothamUltra) format("svg");
    font-weight: 900;
    font-style: normal
}

body{
    
    font-family: Gotham;
    margin: 0;
    padding: 0;
    border: none;
    height:100%;
    position:relative;
    background-color: white;

    --colorBlack: #3F3F3F;
    --colorLightBlue: #18BACF;
    --colorDarkBlue: #1b2550; /*3A5661;*/

    --textBase:12pt;
    --textSizeBody:calc(0.785 * var(--textBase));
    --textSizeSource:calc(0.642 * var(--textBase));
    --textSizeHeading:calc(1.285 * var(--textBase));
    --textSizeMajor:calc(2.856 * var(--textBase));

    --textSizeSmallerBody:calc(0.785 * var(--textBase));
    --textSizeSmallerSource:calc(0.642 * var(--textBase));
    --textSizeSmallerHeading:calc(1 * var(--textBase));
    --textSizeSmallerMajor:calc(2 * var(--textBase));

    --sidePadding: 12pt;
    --verticalPadding: calc(var(--sidePadding) * 3);
    --menuHeight: var(--verticalPadding);
    --maxWidth:1000px;
    --minCoverHeight:100vh;
}

@media (min-width: 768px) {
    body{
        --minCoverHeight:60vmin;

        --sidePadding: 12pt;

        --textSizeBody:calc(1 * var(--textBase));
        --textSizeSource:calc(.8* var(--textBase));
        --textSizeHeading:calc(2 * var(--textBase));
        --textSizeMajor:calc(4 * var(--textBase));

        --textSizeSmallerBody:calc(1 * var(--textBase));
        --textSizeSmallerSource:calc(0.75 * var(--textBase));
        --textSizeSmallerHeading:calc(1.2 * var(--textBase));
        --textSizeSmallerMajor:calc(2.5 * var(--textBase));
    }

    
}

