
/* UTILS */
.title-lg {
    font-size: 2.5rem;
    font-weight: 900;
}

.text-sm {
    font-size: 0.8rem;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: center;
}

.text-white {
    color: #fff;
}

.text-danger {
    color: red;
}

.text-light-blue {
    color: #18BACF;
}

.text-dark-blue {
    color: #1b2550;
}

.bg-light-blue {
    background: #18BACF;
}

.bg-dark-blue {
    background: #1b2550;
}

.lity-close {
    display: none;
}

/*
 * Margin Utilities
 */

 .m-0 {
    margin: 0!important;
}

.m-1 {
    margin: 0.25rem!important;
}

.m-2 {
    margin: 0.5rem!important;
}

.m-3 {
    margin: 1rem!important;
}

.m-4 {
    margin: 1.5rem!important;
}

.m-5 {
    margin: 3rem!important;
}

.mt-0 {
    margin-top: 0!important;
}

.mt-1 {
    margin-top: 0.25rem!important;
}

.mt-2 {
    margin-top: 0.5rem!important;
}

.mt-3 {
    margin-top: 1rem!important;
}

.mt-4 {
    margin-top: 1.5rem!important;
}

.mt-5 {
    margin-top: 3rem!important;
}

.mr-0 {
    margin-right: 0!important;
}

.mr-1 {
    margin-right: 0.25rem!important;
}

.mr-2 {
    margin-right: 0.5rem!important;
}

.mr-3 {
    margin-right: 1rem!important;
}

.mr-4 {
    margin-right: 1.5rem!important;
}

.mr-5 {
    margin-right: 3rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-1 {
    margin-bottom: 0.25rem!important;
}

.mb-2 {
    margin-bottom: 0.5rem!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.mb-5 {
    margin-bottom: 3rem!important;
}

.ml-0 {
    margin-left: 0!important;
}

.ml-1 {
    margin-left: 0.25rem!important;
}

.ml-2 {
    margin-left: 0.5rem!important;
}

.ml-3 {
    margin-left: 1rem!important;
}

.ml-4 {
    margin-left: 1.5rem!important;
}

.ml-5 {
    margin-left: 3rem!important;
}

.mx-0 {
    margin-right: 0!important;
    margin-left: 0!important;
}

.mx-1 {
    margin-right: 0.25rem!important;
    margin-left: 0.25rem!important;
}

.mx-2 {
    margin-right: 0.5rem!important;
    margin-left: 0.5rem!important;
}

.mx-3 {
    margin-right: 1rem!important;
    margin-left: 1rem!important;
}

.mx-4 {
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important;
}

.mx-5 {
    margin-right: 3rem!important;
    margin-left: 3rem!important;
}

.my-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.my-1 {
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
}

.my-2 {
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}

/*
 * Padding Utilities
 */

.p-0 {
    padding: 0!important;
}

.p-1 {
    padding: 0.25rem!important;
}

.p-2 {
    padding: 0.5rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.p-4 {
    padding: 1.5rem!important;
}

.p-5 {
    padding: 3rem!important;
}

.pt-0 {
    padding-top: 0!important;
}

.pt-1 {
    padding-top: 0.25rem!important;
}

.pt-2 {
    padding-top: 0.5rem!important;
}

.pt-3 {
    padding-top: 1rem!important;
}

.pt-4 {
    padding-top: 1.5rem!important;
}

.pt-5 {
    padding-top: 3rem!important;
}

.pr-0 {
    padding-right: 0!important;
}

.pr-1 {
    padding-right: 0.25rem!important;
}

.pr-2 {
    padding-right: 0.5rem!important;
}

.pr-3 {
    padding-right: 1rem!important;
}

.pr-4 {
    padding-right: 1.5rem!important;
}

.pr-5 {
    padding-right: 3rem!important;
}

.pb-0 {
    padding-bottom: 0!important;
}

.pb-1 {
    padding-bottom: 0.25rem!important;
}

.pb-2 {
    padding-bottom: 0.5rem!important;
}

.pb-3 {
    padding-bottom: 1rem!important;
}

.pb-4 {
    padding-bottom: 1.5rem!important;
}

.pb-5 {
    padding-bottom: 3rem!important;
}

.pl-0 {
    padding-left: 0!important;
}

.pl-1 {
    padding-left: 0.25rem!important;
}

.pl-2 {
    padding-left: 0.5rem!important;
}

.pl-3 {
    padding-left: 1rem!important;
}

.pl-4 {
    padding-left: 1.5rem!important;
}

.pl-5 {
    padding-left: 3rem!important;
}

.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.px-1 {
    padding-right: 0.25rem!important;
    padding-left: 0.25rem!important;
}

.px-2 {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}

.px-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.px-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
}

.py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.py-1 {
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
}

.py-2 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.max-width-100 {
    max-width: 100%;
}

.custom-line-height {
    line-height: 1.3;
}

/* GERAL */
a {
    display: block;
    text-decoration: none;
}

p {
    font-weight: 100;
    line-height: 1.5em;
    color: #3f3f3f;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

figcaption {
    color: #3f3f3f;
    font-size: 0.8rem;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
}

.btn {
    color: #fff;
    background:  #18BACF;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.84rem;
}

.play-btn {
    height: 64px;
    width: 64px;
    background-color: rgba(255,255,255, 0.5);
    display: inline-block;
    text-align: center;
}

.play-btn img {
    height: 35px;
    width: 35px;
    margin-top: 15px;
}

/* HEADER */
.main-header {
    background: rgba(0,0,0,.8);
    font-size: 10pt;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(1vmin);
    -webkit-backdrop-filter: blur(1vmin);
    z-index: 100;
}

.main-header__padding {
    padding: 0 1rem;
}

.main-header .logo {
    margin-top: 0.375rem;
    height: 2em;
    display: inline-block;
}

.main-header nav {
    display: inline-block;
}

.main-header ul li {
    display: inline-block;
    margin-left: 31px;
}

.main-header ul li a {
    font-weight: 100;
    color: #fff;
}

.main-header ul li img {
    height: 1em;
    width: 13px;
    margin: 0;
    transform: translate3d(0,.18em,0);
}

/* BANNER */

.banner {
    background-size: cover;
    background-position: center center;
    padding: 6rem 3.125rem 0 3.125rem;
}

.banner-eye {
    background-image: url(../assets/eye.jpg);
}

.banner-take-care {
    background-image: url(../assets/bg-takes-care.jpg);
}

.banner-img__logo-neve {
    height: 3em;
}

.banner-title {
    color: #18BACF;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 3rem;
}

.banner-subtitle {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    margin: 3.5rem 0;
}

.banner-btn__padding {
    padding-right: 1.25rem;
}

.banner-btn__saiba-mais {
    display: inline-block;
    background: #1b2550;
    color: #fff;
    font-size: .8em;
    font-weight: 100;
    padding: 0.5em;
}

.banner-btn__saiba-mais::after {
    content: "+";
    background-color: #18BACF;
    display: inline-block;
    padding: 0.43rem 0.43rem;
    position: absolute;
    margin-top: -7px;
    margin-left: 5px;
}

.banner-intern {
    padding-top: 10rem;
    padding-bottom: 7rem;
    margin-bottom: 3rem;
}

.banner-intern__title {
    color: white;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}


.banner-intern__title span {
    color:rgb(24, 186, 207);
    display: block;
    font-size: 4rem;
    font-weight: 900;
    margin: 12px 0;
}

/* CONTENT */

.big-numbers {
    text-transform: uppercase;
    font-size: 5rem;
    color: #18BACF;
    font-weight: 900;
    margin: 0;
}

.big-numbers small {
    font-size: 2.5rem;
}

.product-neve {
    max-width: 100%;
    height: 240px;
}

.bg-camila-farani {
    height: 360px;
    width: 314px;
    margin-right: 3.125rem;
    float: left;
    background-size: cover;
    background-position: center center;
    background-image:url(../assets/camila.jpg);
}

.camila-farani-content {
    margin: 0 0 0 1rem;
    font-size: 1rem;
}

.row-card-photo {
    margin-right: -2%;
    margin-left: -2%;
}

.card-photo {
    float: left;
    margin: 0.5rem 2% 1.5rem 2%;
    min-height: 0.125rem;
}

.card-photo img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.volontaire-name {
    text-align: center;
    font-weight: bold;
}

.program-steps {
    background: #1b2550;
    padding: 3.125rem;
}

.program-steps ol * {
    color: #fff;
}

.program-steps ol p,
.program-steps ul li {
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 19.2px;
    margin: 12.8px 0;
}

.program-steps ul li.blue {
    color: #18BACF;
}

h3.title {
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    font-weight: normal;
    margin: 0;
}

h3 > span.featured {
    display: block;
    color: #18BACF;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.img-neve-challenge {
    height: 350px;
    max-width: 100%;
}

.regulamento h1.title {
    margin: 0;
    padding-top: 6rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #18BACF;
}

.regulamento h2 {
    font-size: 2rem;
    color: #18BACF;
    text-transform: uppercase;
    margin: 1rem 0;
}

.regulamento p {
    line-height: 1;
    margin-bottom: 1rem;
}

.regulamento p strong {
    color: #18BACF;
    font-size: 1.2rem;
}

.regulamento li {
    font-weight: 100;
    color: rgb(63, 63, 63);
    margin-bottom: 1rem;
}

.termos a {
    color: rgb(63, 63, 63);
    display: inline;
}

.termos .title {
    padding-top: 7.5rem;
}

.termos h2 {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    color: #18BACF;
}

.termos h3 {
    margin: 0;
    color: rgb(63, 63, 63);
    font-size: 1rem;
}

.termos p {
    margin: 0 0 1rem 0;
    line-height: 1;
}

.page-desafio-neve .banner__title {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
}

.page-desafio-neve .banner__title .half {
    margin-right: 8rem;
    display: block;
    color: white;
}

.page-desafio-neve .banner-desafio-neve {
    background-color: rgb(24, 186, 207);
    padding-bottom: 0.7rem;
}

.page-desafio-neve .banner__title .of-us {
    margin-right: -8rem;
    color: rgb(63, 63, 63);
}

.page-desafio-neve .img-manuel {
    margin-left: -35px;
}

.page-desafio-neve .col-francisco {
    padding-left: 2.7rem;
}

.page-desafio-neve .img-right {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.page-desafio-neve .img-left {
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin-left: 8rem;
}

.page-desafio-neve .title {
    font-size: 2rem;
    color: rgb(63, 63, 63);
    font-weight: 500;
}

.page-desafio-neve .title .major {
    font-size: 4rem;
    display: block;
    color: #18BACF;
    font-weight: 900;
    margin: 0.75rem 0;
}

.page-desafio-neve .subtitle {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    font-weight: 400;
}

.page-desafio-neve .subtitle .major {
    display: block;
    color: #18BACF;;
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0.5rem 0;
}

.page-desafio-neve .fonte {
    display: block;
    font-size: 0.75rem;
}

.page-desafio-neve .dark-blue-section {
    padding: 3rem 0;
    color: white;
    background-color: #1b2550;
}

.page-desafio-neve .dark-blue-section .title {
    text-align: center;
    margin: 0;
    color: white;
}

.light-blue-section {
    background: #18BACF;
    padding: 3rem 0;
}

.light-blue-section .title{
    margin: 0;
    text-align: center;
}

.light-blue-section .title .major {
    color: white;
}

.team {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    position: relative;
    width: 100%;
    padding: 0 1.2rem;
}

.team .col-3 {
    width: 23%;
    margin-right: 0.9rem;
}

.team img {
    display: block;
    height: 230px;
    width: 230px;
    object-fit: cover;
}

.team p {
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.4;
}

.desafio-neve-fim-da-pagina {
    text-align: center;
    background-image: url(../assets/bg-can.jpg);
    background-size: cover;
    background-position: center right;
    padding: 6rem 0.9375rem 0.9375rem 0.9375rem;
}

.desafio-neve-fim-da-pagina .title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #18BACF;
    margin: 0;
}

.desafio-neve-fim-da-pagina .subtitle {
    color: white;
    margin-top: 0.75rem;
}

.desafio-neve-fim-da-pagina .play-btn{
    margin-top: 12rem;
}

.faq {
    padding-bottom: 3rem;
}

.faq .banner-faq {
    background-image: url(../assets/bg-doubts.jpg);
    padding: 14rem 1rem 7rem 1rem;
}

.faq .banner-faq .title {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.faq .banner-faq .title .major {
    display: block;
    color: #18BACF;
    font-size: 4rem;
    font-weight: 900;
    margin-top: 12px;
}

.banner-faq p {
    font-size: 1rem;
    color: white;
    margin: 0.75rem 0 0 0;
}

.faq #accordion {
    padding-top: 2rem;
}

.faq #accordion h3 {
    color: #18BACF;
    font-size: 4.8rem;
    font-weight: 900;
    outline-style: none;
    margin: 3rem 0 0 0;
}

.faq #accordion h3::after {
    height: 1px;
    width: 88%;
    margin-left: 3rem;
    content: " ";
    display: block;
    background-color: #18BACF;
    margin-top: -16px;
}

.faq #accordion h3::before {
    height: 26px;
    width: 26px;
    content: "+";
    font-weight: 100;
    display: inline-block;
    position: relative;
    left: 91%;
    top: 5px;
    background-color: #18BACF;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    z-index: 2;
    box-sizing: border-box;
    padding-top: 1px;
    font-size: 1.1rem;
    cursor: pointer;
}

.faq #accordion h3 small {
    font-size: 1rem;
    font-weight: normal;
    color: #3f3f3f;
    display: inline-block;
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

.faq #accordion p,
.faq #accordion ul {
    color: #3f3f3f;
    font-size: 1rem;
    margin-left: 2rem;
    font-weight: normal;
    line-height: 24px;
}

.faq #accordion a {
    display: inline-block;
    color: #3f3f3f;
}

.header-offset {
    height: 5rem;
}

.startups {
    background-color: #1b2550;
    margin-bottom: 5rem;
}

.wrapper {
    padding: 3rem;
}

.startups h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 900;
    color: #18BACF;
}

.startups .col-6 {
    box-sizing: border-box;
    width: 50%;
}

.startups a {
    color: white;
}

.startups a h2 {
    font-size: 1rem;
    margin-top: 2.5rem;
}

.startups a h2:after {
    content:'';
    width:2em;
    height: 1em;
    position: relative;
    background-image: url(../assets/pdf-download.svg);
    background-position: right top;
    background-size: contain;
    background-repeat:no-repeat;
    display: inline-block;
    margin-left: .1em;
}

.startups p {
    font-size: 0.8rem;
    color: white;
}

.main-footer {
    background: #000;
    border-top: .3em solid #18BACF;
    padding: 3rem;
}

.main-footer__nav-footer ul li {
    width: 24.3%;
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
}

.main-footer__nav-footer ul li a {
    font-size: 0.8rem;
    color: #fff;
}

.main-footer__nav-footer ul li img {
    width: 100%;
    max-width: 128px;
    max-height: 60px;
}

.main-footer__nav-footer ul li img.minor {
    width: 100%;
    max-width: 128px;
    max-height: 35px;
}

.main-footer__fix-svg {
    height: 100%;
    width: 100%;
}